<!--*
 Created by Anton Platunov 06.01.2019
 * -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="style.css">
    <title>AMPULA</title>
</head>

<body>
<!-- Заголовки -->
<h1>Добро пожаловать</h1>


<!-- Горизонтальный разделитель -->
<hr/>
<!-- Деление страницы на блоки -->
<div>
    <div>
        <!-- Рамка -->
        <fieldset>
            <legend>Функциональный блок 1</legend>
            <p>Логин</p>
            <input id="textField1" type="text"/>
            <p>Пароль</p>
           <p> <input id="textField2" type="text"/></p>
            <input id="btn1" type="button" value="Войти"/>
            <input id="btn2" type="button" value="Отмена "/>
            <input id="btn3" type="button" value="Зарегистрироватся"/>
        </fieldset>
    </div>

</div>
<hr/>

</body>

</html>