<!--*
 Created by Anton Platunov 06.01.2019
 * -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>AMPOULE</title>

    <script type="text/javascript" src="/static/lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/registr.js"></script>
</head>

<body>
<!-- Заголовки -->
<h1>Регистрация</h1>


<!-- Горизонтальный разделитель -->
<hr/>
<!-- Деление страницы на блоки -->
<div>
    <div>
        <!-- Рамка -->
        <fieldset>
            <legend>Регистрация нового пользователя</legend>
            <p>Логин</p>
            <input id="login" type="text"/>
            <p>Пароль</p>
            <input id="password" type="text"/>
            <p>Подтверждение пароля</p>
            <input id="passwordConfirm" type="text"/>
            <hr/>
            <input type="button" value="отмена" />
            <input type="button" value="Зарегистрироваться" onclick="createPatient() "/>

        </fieldset>
    </div>

</div>
<hr/>

</body>

</html>